/* For presentation */

.page-cover-image {
    margin-bottom: 1em;
}

.page-body h1 {
    page-break-before: always;
}

code {
    font-size: large !important;
}

li, p, .callout, .bookmark {
    font-size: x-large;
}

blockquote {
    font-size: xx-large !important;
}

/* Presentation header */
header {
    /* margin-top: 30%;*/
}

.column {
    overflow: auto !important;
}